  <p>
	<ul>
	<table>
		<tr><td>Продавец</td><td>Количество</td><td>Стоимость</td></tr>
		{{#each projects}}
			<tr><td>{{name}}</td><td>{{amount}} gr</td><td>{{price}} 00 $</td></tr>
		{{/each}}
	</table>
	</ul>
  </p>

